<div class="d-flex row justify-content-center mt-4">
<div  *ngFor="let group of teamGroup" class="col-md-3 col-12">
    <app-group [group]="group" (validated)="requiredContainer($event)"></app-group>
</div>
</div>

<div class="container" [ngClass]="teamGroup.length === noOfGroupResponse ? 'd-block' : 'd-none'">

<label>Top picks<span> <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Enter player names you want in your team at all cost as comma seprated values">
    <span class="material-symbols-outlined">
        info
        </span>
  </button></span> </label>
<textarea #top type="text" style="width: 100%" (blur)="pushTopChange(top.value)"></textarea>
</div>

<div [ngClass]="showButton ? 'd-flex justify-content-around my-4' : 'd-none'">
    <button class="btn btn-primary " (click)="submit()">Generate Teams<span class="small">
        ({{ this.allPlayers.length - this.topPlayers.length}}C{{11 - this.topPlayers.length}})
    </span></button>
    <button class="btn btn-secondary" (click)="clear()">Clear Teams</button>
</div>

<div *ngFor="let team of allTeams; let i=index" class="d-flex align-items-center">
    <div>T{{i+1}}:&nbsp;</div>
    <div *ngFor="let player of team" class="d-flex flex-column align-items-center px-md-2 px-1">
        <img src="../assets/{{ player.group }}.png" class="d-none d-md-block"alt={{group}} width="50" height="50"/>
        <h5 class="mb-md-3 mb-0">{{player.name}},&nbsp;</h5>
    </div>
</div>


<!-- <div>{{totalchats|i18nPlural:messageMapping}}</div>

<h2> Sorting Products list using custom pipe </h2>
Sort the list based on
<select [(ngModel)]="sortoption">
        <option value="prodName">Product Name</option>
        <option value="price">Price</option>        
      </select><br/><br/>
<table border="1">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let products of productsList | sort:sortoption">
            <td>{{products.productName}}</td>
            <td>{{products.price}}</td>
        </tr>
    </tbody>
</table> -->
